body {
    background-color: #FED325;
    color: #15BDA1;
    font-family: 'Poppins', sans-serif;
	margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

.navbar {
    background-color: #0799BB;
    color: white;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar a{
	font-family:Montserrat;
}

.nav-links a {
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #15BDA1;
}
.cta-button {
    background-color: #1e3a8a;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.logo {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
	margin-right: 700px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

nav, header, section, footer {
    width: 100%;
}

.footer {
    background-color: #0799BB;
    text-align: center;
    padding: 1.5rem 0;
    color: white;
}

.result{
	border: solid black 2px;
    background:white;
	width: 90%;
    margin:auto;
    margin-bottom: 10px;
    
	
}

.result img{
	width: 500px;
	height: 200px;
}
